*{
  padding: 0;
  margin: 0;
  font-family: 'Lobster', cursive;
}
body{
  min-height: 100vh;
  background-image:linear-gradient(to top right ,#C33764,#1D2671);
}
#Navbar{
  height:50px;
  background-color: cyan;
  padding: 10px;
  font-size: 30px;
  margin: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.active{
  color: red;
}
h1 {
  color: white;
  text-shadow: 5px 5px 8px black;
  margin: 20px;
}
.heading {
  text-shadow: 5px 5px 8px black;
  color: white;
  font-size: 28px;
}
                                                        
.box1{
  display: flex;
  justify-content: space-between;
  margin:15px 80px;
}
.btn1{
  width:200px;
  height:40px;
  border-radius: 25px;
  background-color:white;
}
.btn1:hover{
  background-color:red;
  cursor: pointer;
  font-weight: bold;
}
.table{
  margin:15px 80px;
  width:88%;
  border-collapse:collapse;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.table,th,td{
  padding: 15px;
  text-align: center;
}
.flex1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 60px;
  column-gap: 200px;
  row-gap: 100px;
}
input{
  background: transparent;
  border-color: transparent;
  width:300px;
  height:30px;
  font-size: 15px;
}
input:focus {
  outline: none;
}
fieldset{
 border: 2px solid gray;
 border-radius: 10px;
 width:400px;
 height: 60px;

}
fieldset:hover{
  border-color:dodgerblue;
  background-color:cyan;
}
.flex2{
  margin-right: 150px;
  float: right;
  display: flex;
  column-gap: 70px;;
}